---
import { Image } from "astro:assets";
import NewsletterComponent from "../components/NewsletterComponent.astro";
import SimpleContactComponent from "../components/SimpleContactComponent.astro";
import Layout from "../layouts/Layout.astro";
import ManCleaningKitchen from "../assets/images/man-kitchen-cleaning.jpeg";
import Services from "../components/Services.astro";
import ContactForm from "../components/ContactForm.astro";
import OurTeam from "../components/OurTeam.astro";
import AboutUs from "../components/AboutUs.astro";
import GirlCleaningTable from "../assets/images/girl-cleaning-table.jpeg";
---

<Layout>
    <main>
        <div class="containerOne">
            <h2 class="hedAbout">
                Let us take care of all your cleaning service needs.
            </h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse varius enim in eros elementum tristique. Duis
                cursus, mi quis viverra ornare, eros dolor interdum nulla, ut
                commodo diam libero vitae erat.Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Suspendisse varius enim in eros
                elementum tristique. Duis cursus, mi quis viverra ornare, eros
                dolor interdum nulla, ut commodo diam libero vitae erat.Lo
            </p>
            <div class="buttons">
                <button class="request_a_quote">Request a quote</button>
                <button class="learn-more">Learn more</button>
            </div>
        </div>

        <div class="containerTwo">
            <Image
                src={ManCleaningKitchen}
                alt="Cleaning Man"
                class={"side_image"}
            />
        </div>
    </main>
    <SimpleContactComponent />
    <Services />
    <AboutUs />
    <OurTeam />
    <div class="contact-wrapper">
        <ContactForm />
        <div class="image-container">
            <Image
                src={GirlCleaningTable}
                alt={"girl cleaning table"}
                class="side-image"
            />
        </div>
    </div>

    <section class="help-section">
        <div class="help-content">
            <h1>How we can help...</h1>
            <p>
                We offer a wide range of procedures to help you get the perfect
                smile.
            </p>
            <a href="#" class="request-link">Request a quote</a>
        </div>
        <div class="help-button">
            <a href="#" class="request-button">Request a quote</a>
        </div>
    </section>

    <NewsletterComponent />
</Layout>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
    main {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 5px;
    }

    .containerOne {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
        padding: 50px;
        width: 50%;
        margin-top: 24px;
    }

    .containerTwo {
        width: 50%;
        text-align: right;
    }

    .side_image {
        width: 100%;
        height: 720px;
        object-fit: cover;
    }

    .about {
        font-size: 16px;
        color: black;
        font-family: "Roboto", serif;
        font-weight: 600;
        font-style: normal;
    }

    .hedAbout {
        color: black;
        font-size: 48px;
        font-weight: 700;
        font-family: "Roboto", serif;
        font-style: normal;
        line-height: normal;
        margin: 0 auto;
    }

    p {
        color: black;
        font-size: 24px;
        font-family: "Roboto", serif;
        font-style: normal;
        font-weight: 400;
    }

    .request_a_quote {
        color: white;
        background-color: black;
        font-size: 20px;
        font-family: "Roboto", serif;
        font-style: normal;
        font-weight: 400;
        border-radius: 5px;
        border: 1px solid black;
        padding: 18px;
        margin-top: 30px;
    }

    .buttons {
        display: flex;
        gap: 20px;
    }

    .learn-more {
        color: #000;
        background-color: #fff;
        font-size: 20px;
        font-family: "Roboto", serif;
        font-style: normal;
        font-weight: 400;
        border-radius: 5px;
        border: 1px solid black;
        padding: 18px;
        margin-top: 30px;
    }

    .contact-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f7f7f7;
        gap: 2rem;
        padding: 32px;
    }

    .image-container {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .side-image {
        height: 100%;
        border-radius: 8px;
        object-fit: contain;
    }

    section.help-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #000;
        padding: 20px 32px;
        margin: 56px;
        background-color: #fff;
    }

    .help-content {
        max-width: 60%;
    }

    .help-content h1 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .help-content p {
        font-size: 1rem;
        margin-bottom: 10px;
        color: #555;
    }

    .help-content .request-link {
        font-size: 1rem;
        color: #007bff;
        text-decoration: none;
    }

    .help-content .request-link:hover {
        text-decoration: underline;
    }

    .help-button {
        text-align: right;
    }

    .help-button .request-button {
        display: inline-block;
        background-color: #000;
        color: #fff;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        font-size: 1rem;
        transition: background-color 0.3s ease;
    }

    .help-button .request-button:hover {
        background-color: #555;
    }

    @media (max-width: 1024px) {
        .contact-wrapper {
            flex-direction: column;
        }

        .image-container {
            display: none;
        }

        section.help-section {
            flex-direction: column;
            align-items: start;
            gap: 1rem;
        }

        .help-content {
            max-width: 100%;
        }
    }

    @media all and (max-width: 1024px) {
        main {
            flex-direction: column; /* Cambia el diseño a una columna para dispositivos móviles */
            gap: 20px; /* Añade espacio entre los contenedores */
            overflow-x: hidden;
            padding: 24px;
        }

        .contact-wrapper {
            height: 120vh;
        }
        .containerOne,
        .containerTwo {
            width: 100%; /* Los contenedores ocupan todo el ancho disponible */
            padding: 0;
        }

        .about {
            font-size: 20px;
        }

        .hedAbout {
            line-height: normal; /* Reduce el tamaño de la cabecera para móviles */
        }

        p {
            font-size: 22px; /* Reduce el tamaño del texto para facilitar la lectura */
        }

        button {
            font-size: 20px; /* Reduce el tamaño del botón */
            padding: 16px 20px; /* Ajusta el padding del botón */
            border-radius: 8px;
        }

        .side_image {
            height: auto; /* Deja que la imagen ajuste su altura automáticamente */
        }
    }
</style>
